In [32]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.metrics import confusion_matrix,recall_score,precision_score,f1_score

In [33]:
train_df = pd.read_csv('datasets\\train_220348_ass_9.csv')
test_df = pd.read_csv('datasets\\test_with_label_791460_ass_9.csv')

In [34]:
train_df.head()

,Name,Test Date,Symptoms_1,Symptoms_2,Symptoms_3,Country Name,Fever since,Headche,Covid_yes_no
0,shivani,24/3/2020,Cough,Headache,Fever,Iran,4,2,0
1,isha,25/3/2020,Cough,Headache,Fever,Mauritius,7,4,1
2,smt shyani devi,26/3/2020,Cough,Headache,Fever,Mozambique,6,4,1
3,divya,27/3/2020,Cough,Headache,Fever,Cameroon,5,2,0
4,mansi,28/3/2020,Cough,Headache,Fever,South Sudan,6,3,1

In [35]:
train_df[train_df.Symptoms_2.isnull()]

,Name,Test Date,Symptoms_1,Symptoms_2,Symptoms_3,Country Name,Fever since,Headche,Covid_yes_no
71,sandhya,8/6/2020,Headache,NaN,Cough,Norfolk Island,8,3,1
92,jyoti,2/7/2020,Headache,NaN,Cough,South Sudan,5,3,0

In [36]:
train_df[(train_df['Symptoms_1']=='Headache')&(train_df['Symptoms_3']=='Cough')&(train_df['Covid_yes_no']==1)]['Symptoms_2'].mode()

0    Fever
Name: Symptoms_2, dtype: object

In [37]:
train_df[(train_df['Symptoms_1']=='Headache')&(train_df['Symptoms_3']=='Cough')&(train_df['Covid_yes_no']==0)]['Symptoms_2'].mode()

0    Fever
Name: Symptoms_2, dtype: object

In [38]:
train_df.Symptoms_2.fillna('Fever',inplace=True)

In [39]:
train_df[train_df.Symptoms_1.isnull()]

,Name,Test Date,Symptoms_1,Symptoms_2,Symptoms_3,Country Name,Fever since,Headche,Covid_yes_no
69,priti,6/6/2020,NaN,Fever,Cough,Laos,7,5,1
149,santosh singal,5/9/2020,NaN,Fever,Cough,Japan,8,2,1

In [40]:
train_df[(train_df['Symptoms_2']=='Fever')&(train_df['Symptoms_3']=='Cough')&(train_df['Covid_yes_no']==1)]['Symptoms_1'].mode()

0    Headache
Name: Symptoms_1, dtype: object

In [41]:
train_df.Symptoms_1.fillna('Headache',inplace=True)

In [42]:
desc=pd.DataFrame(index=list(train_df))
desc['count']=train_df.shape[0]
desc['unique']=train_df.nunique()
desc['null']=train_df.isnull().sum()
desc['dtype']=train_df.dtypes
desc = pd.concat([desc,train_df.describe().T],axis=1)
desc

,count,unique,null,dtype,count,mean,std,min,25%,50%,75%,max
Name,487,330,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Test Date,487,217,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Symptoms_1,487,2,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Symptoms_2,487,2,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Symptoms_3,487,2,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country Name,487,99,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fever since,487,5,0,int64,487.0,6.069815,1.434170,4.0,5.0,6.0,7.0,8.0
Headche,487,4,0,int64,487.0,3.468172,1.110423,2.0,2.5,3.0,4.0,5.0
Covid_yes_no,487,2,0,int64,487.0,0.455852,0.498559,0.0,0.0,0.0,1.0,1.0

In [43]:
desct=pd.DataFrame(index=list(test_df))
desct['count']=test_df.shape[0]
desct['unique']=test_df.nunique()
desct['null']=test_df.isnull().sum()
desct['dtype']=test_df.dtypes
desct = pd.concat([desct,test_df.describe().T],axis=1)
desct

,count,unique,null,dtype,count,mean,std,min,25%,50%,75%,max
Name,54,50,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Test Date,54,50,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Symptoms_1,54,2,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Symptoms_2,54,2,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Symptoms_3,54,2,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country Name,54,42,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fever since,54,5,0,int64,54.0,5.981481,1.460043,4.0,5.0,6.0,7.0,8.0
Headche,54,4,0,int64,54.0,3.277778,1.122945,2.0,2.0,3.0,4.0,5.0
Covid_yes_no,54,2,0,int64,54.0,0.462963,0.503308,0.0,0.0,0.0,1.0,1.0