In [2]:
import numpy as np

In [3]:
import pandas as pd

In [6]:
df=pd.read_csv('DA-21 Pandas Assignment  - Pandas Assignment - 3.csv')
df

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,"33,249",2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,"714,966",8,Direct
1,10001,"28,102",2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,"718,209",6,Direct
2,10002,"30,271",2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,"640,333",5,In Direct
3,10003,"26,247",2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,"617,561",7,In Direct
4,10004,"29,665",2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,"706,606",7,In Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17253,27253,"33,305",2005,1,0,"1,370",361,Hyundai,Sedan,Mumbai,1,Credit Card,"650,455",6,In Direct
17254,27254,"29,035",2018,1,0,"1,342",554,Mahindra,HatchBack,Pen,1,Net Banking,"763,506",8,In Direct
17255,27255,"25,230",2018,2,0,"1,246",594,Mahindra,Sedan,Navi Mumbai,1,Digital Wallet,"697,297",7,Direct
17256,27256,"32,652",2011,2,1,"1,386",492,Maruti,Sedan,Mumbai,0,Digital Wallet,"664,094",6,In Direct
17257,27257,"28,774",2010,1,1,"1,520",583,Hyundai,Sedan,Thane,0,Net Banking,"792,785",7,Direct

In [7]:
import numpy as np

In [8]:
# 1.Because of some high fraud rate, the company has decided not to give insurance
# to cars with RTO as Pen with CNG kit installed and older than 2005 (inclusive 2005).
# How much premium loss they will face because of this decision?

In [9]:
df.head()

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,"33,249",2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,"714,966",8,Direct
1,10001,"28,102",2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,"718,209",6,Direct
2,10002,"30,271",2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,"640,333",5,In Direct
3,10003,"26,247",2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,"617,561",7,In Direct
4,10004,"29,665",2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,"706,606",7,In Direct

In [10]:

df.columns

Index(['CustID', 'Premium', 'Model_Year', 'Owner_Type', 'Road side addon',
       'No Claim bonus discount', 'Electric add on rate', 'Company',
       'Car Type', 'RTO', 'CNGkit', 'Paymentmode', 'Total IDV', 'Seats',
       'Acquisition Channel'],
      dtype='object')

In [11]:
df['Premium'].describe

<bound method NDFrame.describe of 0        33,249
1        28,102
2        30,271
3        26,247
4        29,665
          ...
17253    33,305
17254    29,035
17255    25,230
17256    32,652
17257    28,774
Name: Premium, Length: 17258, dtype: object>

In [12]:
df['Premium']=df['Premium'].str.replace(',','')

In [13]:
df['Premium'].describe

<bound method NDFrame.describe of 0        33249
1        28102
2        30271
3        26247
4        29665
         ...
17253    33305
17254    29035
17255    25230
17256    32652
17257    28774
Name: Premium, Length: 17258, dtype: object>

In [14]:
df['Premium'].astype(int)

0        33249
1        28102
2        30271
3        26247
4        29665
         ...
17253    33305
17254    29035
17255    25230
17256    32652
17257    28774
Name: Premium, Length: 17258, dtype: int32

In [15]:
df['Premium'] = pd.to_numeric(df['Premium'], errors='coerce')

In [16]:
df.Company.unique()

array(['Hyundai', 'Honda', 'Mahindra', 'Maruti'], dtype=object)

In [17]:
mardf=df[df['Company']=='Maruti']
mardf

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
8,10008,34008,2015,2,1,"1,330",364,Maruti,HatchBack,Navi Mumbai,0,UPI,"649,902",6,In Direct
11,10011,29843,2009,2,0,"1,549",404,Maruti,Sedan,Navi Mumbai,1,Digital Wallet,"675,050",5,In Direct
15,10015,34697,2015,2,0,"1,241",315,Maruti,HatchBack,Thane,0,Net Banking,"665,525",6,In Direct
19,10019,33586,2013,1,0,"1,565",407,Maruti,HatchBack,Navi Mumbai,0,Net Banking,"801,612",6,In Direct
23,10023,31041,2015,1,1,"1,320",363,Maruti,Sedan,Mumbai,0,Digital Wallet,"837,678",5,Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17236,27236,29020,2003,2,0,"1,417",518,Maruti,HatchBack,Mumbai,1,Credit Card,"584,918",8,In Direct
17242,27242,26514,2010,1,1,"1,508",515,Maruti,Sedan,Mumbai,1,Net Banking,"696,554",7,Direct
17246,27246,26798,2003,1,1,"1,285",423,Maruti,HatchBack,Thane,0,Net Banking,"687,471",5,Direct
17251,27251,27962,2009,1,1,"1,492",465,Maruti,Sedan,Pen,0,Net Banking,"611,526",8,In Direct
17256,27256,32652,2011,2,1,"1,386",492,Maruti,Sedan,Mumbai,0,Digital Wallet,"664,094",6,In Direct

In [18]:
mahidf=df[df['Company']=='Mahindra']
mahidf

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
6,10006,30070,2005,2,0,"1,228",556,Mahindra,Sedan,Pen,0,Net Banking,"659,122",6,In Direct
9,10009,29810,2002,1,0,"1,344",544,Mahindra,Sedan,Navi Mumbai,1,Net Banking,"737,568",5,Direct
16,10016,34512,2003,2,1,"1,249",378,Mahindra,Sedan,Navi Mumbai,0,Net Banking,"730,863",7,In Direct
28,10028,26114,2009,1,0,"1,490",398,Mahindra,Sedan,Pen,0,Net Banking,"655,094",5,In Direct
30,10030,27549,2000,2,1,"1,584",502,Mahindra,HatchBack,Mumbai,1,Net Banking,"801,669",6,Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17243,27243,34233,2013,1,0,"1,554",338,Mahindra,Sedan,Navi Mumbai,0,Net Banking,"726,055",5,Direct
17248,27248,34425,2018,1,1,"1,352",307,Mahindra,Sedan,Navi Mumbai,0,Digital Wallet,"696,438",8,Direct
17249,27249,32514,2015,1,0,"1,201",541,Mahindra,Sedan,Mumbai,0,Digital Wallet,"742,570",5,In Direct
17254,27254,29035,2018,1,0,"1,342",554,Mahindra,HatchBack,Pen,1,Net Banking,"763,506",8,In Direct
17255,27255,25230,2018,2,0,"1,246",594,Mahindra,Sedan,Navi Mumbai,1,Digital Wallet,"697,297",7,Direct

In [19]:
hondadf=df[df['Company']=='Honda']
hondadf

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
3,10003,26247,2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,"617,561",7,In Direct
5,10005,27637,2009,1,0,"1,467",558,Honda,HatchBack,Navi Mumbai,1,Credit Card,"671,020",7,In Direct
20,10020,31872,2003,1,1,"1,477",469,Honda,HatchBack,Pen,1,UPI,"579,927",8,Direct
21,10021,30838,2018,1,1,"1,466",409,Honda,HatchBack,Navi Mumbai,1,Digital Wallet,"693,287",6,In Direct
22,10022,29471,2000,1,0,"1,224",466,Honda,Sedan,Pen,1,Net Banking,"697,330",8,In Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17239,27239,32556,2006,1,0,"1,281",444,Honda,Sedan,Mumbai,0,Credit Card,"802,582",6,Direct
17240,27240,26758,2010,2,1,"1,379",565,Honda,Sedan,Mumbai,0,Net Banking,"646,525",7,In Direct
17241,27241,34448,2000,1,0,"1,328",597,Honda,HatchBack,Mumbai,1,UPI,"799,008",7,Direct
17244,27244,25194,2004,1,1,"1,519",491,Honda,HatchBack,Navi Mumbai,0,Digital Wallet,"627,403",5,In Direct
17245,27245,25602,2000,2,0,"1,217",431,Honda,HatchBack,Pen,1,UPI,"742,696",7,Direct

In [20]:
hyundaidf=df[df['Company']=='Hyundai']
hyundaidf

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,33249,2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,"714,966",8,Direct
1,10001,28102,2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,"718,209",6,Direct
2,10002,30271,2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,"640,333",5,In Direct
4,10004,29665,2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,"706,606",7,In Direct
7,10007,29859,2013,2,1,"1,442",476,Hyundai,HatchBack,Navi Mumbai,0,Net Banking,"703,277",6,In Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17247,27247,30517,2012,1,1,"1,257",339,Hyundai,Sedan,Mumbai,1,Net Banking,"598,387",8,In Direct
17250,27250,27348,2009,2,0,"1,564",585,Hyundai,HatchBack,Navi Mumbai,1,Digital Wallet,"747,020",5,Direct
17252,27252,33519,2011,2,1,"1,425",530,Hyundai,Sedan,Navi Mumbai,1,Net Banking,"726,098",5,Direct
17253,27253,33305,2005,1,0,"1,370",361,Hyundai,Sedan,Mumbai,1,Credit Card,"650,455",6,In Direct
17257,27257,28774,2010,1,1,"1,520",583,Hyundai,Sedan,Thane,0,Net Banking,"792,785",7,Direct

In [21]:
hdtotal=hyundaidf['Premium'].sum()
hdtotal

129459065

In [22]:
hondatotal=hondadf['Premium'].sum()
hondatotal

129793158

In [23]:
mahitotal=mahidf['Premium'].sum()
mahitotal

130283861

In [24]:

maruthitotal=mardf['Premium'].sum()
maruthitotal

127648967

In [25]:
hyundaidf.RTO.unique()

array(['Pen', 'Navi Mumbai', 'Thane', 'Mumbai'], dtype=object)

In [26]:
hyundaidf.CNGkit.unique()

array([0, 1], dtype=int64)

In [27]:
hyundaidf.columns

Index(['CustID', 'Premium', 'Model_Year', 'Owner_Type', 'Road side addon',
       'No Claim bonus discount', 'Electric add on rate', 'Company',
       'Car Type', 'RTO', 'CNGkit', 'Paymentmode', 'Total IDV', 'Seats',
       'Acquisition Channel'],
      dtype='object')

In [28]:
hddf=hyundaidf[(hyundaidf['RTO']=='Pen')&(hyundaidf['CNGkit']==1)&(hyundaidf['Model_Year']<=2005)]

In [29]:
hondf=hondadf[(hondadf['RTO']=='Pen')&(hondadf['CNGkit']==1)&(hondadf['Model_Year']<=2005)]

In [30]:
mhdf=mahidf[(mahidf['RTO']=='Pen')&(mahidf['CNGkit']==1)&(mahidf['Model_Year']<=2005)]

In [31]:
mrdf=mardf[(mardf['RTO']=='Pen')&(mardf['CNGkit']==1)&(mardf['Model_Year']<=2005)]

In [32]:
hdlast=hddf['Premium'].sum()
hdlast

4442815

In [33]:
hondalast=hondf['Premium'].sum()
hondalast

5272311

In [34]:
mhhlast=mhdf['Premium'].sum()
mhhlast

5449118

In [35]:
mrrlast=mrdf['Premium'].sum()
mrrlast

4565960

In [36]:
hdloss=hdtotal-hdlast
hdloss

125016250

In [37]:
hondaloss=hondatotal-hondalast
hondaloss

124520847

In [38]:
mahloss=mahitotal-mhhlast
mahloss

124834743

In [39]:
mrloss=maruthitotal-mrrlast
mrloss

123083007

In [40]:
Comp=np.array(df['Company'].unique())
Comp

array(['Hyundai', 'Honda', 'Mahindra', 'Maruti'], dtype=object)

In [41]:
loss=np.array([hdloss,hondaloss,mahloss,mrloss])
loss

array([125016250, 124520847, 124834743, 123083007], dtype=int64)

In [42]:
output=pd.DataFrame({'Company':Comp,'Loss':loss})
output

    Company       Loss
0   Hyundai  125016250
1     Honda  124520847
2  Mahindra  124834743
3    Maruti  123083007

In [43]:
# Which car manufacture company has major percentage in overall policy count in
# 2019?.

In [44]:
df.head()

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,33249,2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,"714,966",8,Direct
1,10001,28102,2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,"718,209",6,Direct
2,10002,30271,2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,"640,333",5,In Direct
3,10003,26247,2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,"617,561",7,In Direct
4,10004,29665,2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,"706,606",7,In Direct

In [45]:
df.columns

Index(['CustID', 'Premium', 'Model_Year', 'Owner_Type', 'Road side addon',
       'No Claim bonus discount', 'Electric add on rate', 'Company',
       'Car Type', 'RTO', 'CNGkit', 'Paymentmode', 'Total IDV', 'Seats',
       'Acquisition Channel'],
      dtype='object')

In [46]:
df.dtypes

CustID                      int64
Premium                     int64
Model_Year                  int64
Owner_Type                  int64
Road side addon             int64
No Claim bonus discount    object
Electric add on rate        int64
Company                    object
Car Type                   object
RTO                        object
CNGkit                      int64
Paymentmode                object
Total IDV                  object
Seats                       int64
Acquisition Channel        object
dtype: object

In [47]:
df2=df[df['Model_Year']==2019]

In [48]:
df.Company.unique()

array(['Hyundai', 'Honda', 'Mahindra', 'Maruti'], dtype=object)

In [49]:
tot=df2.Premium.shape[0]

In [50]:
Hyundai=(df2[df2['Company']=='Hyundai'].Premium.shape[0]/tot)*100
Honda=(df2[df2['Company']=='Honda'].Premium.shape[0]/tot)*100
Mahindra=(df2[df2['Company']=='Mahindra'].Premium.shape[0]/tot)*100
Maruti=(df2[df2['Company']=='Maruti'].Premium.shape[0]/tot)*100

In [51]:
df2out=pd.DataFrame({'Company':df.Company.unique(),
              'count_per':np.array([Hyundai,Honda,Mahindra,Maruti])})
df2out=df2out.sort_values('count_per',ascending=False)
df2out

    Company  count_per
3    Maruti  26.918536
2  Mahindra  26.092090
0   Hyundai  25.147580
1     Honda  21.841795

In [52]:
df2out.iloc[0]

Company         Maruti
count_per    26.918536
Name: 3, dtype: object

In [53]:
# 3. What is the correlation of premium and No Claim bonus discount for Maruti
# hatchback?

In [54]:
df['No Claim bonus discount'].iloc[0]

'1,523'

In [55]:
df['No Claim bonus discount']=df['No Claim bonus discount'].str.replace(',','')

In [56]:
df['No Claim bonus discount'].astype(int)

0        1523
1        1452
2        1367
3        1249
4        1310
         ...
17253    1370
17254    1342
17255    1246
17256    1386
17257    1520
Name: No Claim bonus discount, Length: 17258, dtype: int32

In [57]:
df['No Claim bonus discount']=pd.to_numeric(df['No Claim bonus discount'],errors='coerce')

In [58]:
df.head()

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,33249,2011,1,1,1523,384,Hyundai,Sedan,Pen,0,Digital Wallet,"714,966",8,Direct
1,10001,28102,2013,2,0,1452,411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,"718,209",6,Direct
2,10002,30271,2008,1,0,1367,317,Hyundai,Sedan,Thane,1,Digital Wallet,"640,333",5,In Direct
3,10003,26247,2014,2,0,1249,496,Honda,Sedan,Mumbai,1,Net Banking,"617,561",7,In Direct
4,10004,29665,2005,1,0,1310,447,Hyundai,Sedan,Thane,1,Credit Card,"706,606",7,In Direct

In [59]:
df['Car Type'].unique()

array(['Sedan', 'HatchBack'], dtype=object)

In [60]:
df3=df[df['Car Type']=='HatchBack']

In [61]:
df3['Premium'].corr(df3['No Claim bonus discount'])

0.0037893483109075945

In [62]:
# 4. What is the percentage of hatchback Cars with CNG kit in Mumbai RTO?

In [65]:
import numpy as np
import pandas as pd
df=pd.read_csv('DA-21 Pandas Assignment  - Pandas Assignment - 3.csv')

In [66]:
df.head()

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,"33,249",2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,"714,966",8,Direct
1,10001,"28,102",2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,"718,209",6,Direct
2,10002,"30,271",2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,"640,333",5,In Direct
3,10003,"26,247",2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,"617,561",7,In Direct
4,10004,"29,665",2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,"706,606",7,In Direct

In [67]:
df4=df[(df.CNGkit==1)&(df.RTO=='Mumbai')]
df4.head()

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
3,10003,"26,247",2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,"617,561",7,In Direct
24,10024,"25,326",2008,2,0,"1,410",490,Honda,HatchBack,Mumbai,1,UPI,"557,742",7,In Direct
27,10027,"27,570",2014,1,1,"1,321",428,Honda,Sedan,Mumbai,1,Digital Wallet,"711,178",8,In Direct
30,10030,"27,549",2000,2,1,"1,584",502,Mahindra,HatchBack,Mumbai,1,Net Banking,"801,669",6,Direct
46,10046,"31,476",2002,2,0,"1,556",401,Maruti,Sedan,Mumbai,1,Credit Card,"822,658",8,Direct

In [68]:
tot=df4.shape[0]
hb=(df4[df4['Car Type']=='HatchBack'].shape[0]/tot)*100
sd=(df4[df4['Car Type']=='Sedan'].shape[0]/tot)*100
df4out=pd.DataFrame({'Cartype':df4['Car Type'].unique(),'Percentage':np.array([hb,sd])})
df4out[df4out['Cartype']=='HatchBack']

     Cartype  Percentage
1  HatchBack   50.023485

In [69]:
# 5. What is the median of premium for sedan cars for the latest year?

In [70]:
lat_yr=df['Model_Year'].max()
lat_yr

2019

In [71]:
df.dtypes

CustID                      int64
Premium                    object
Model_Year                  int64
Owner_Type                  int64
Road side addon             int64
No Claim bonus discount    object
Electric add on rate        int64
Company                    object
Car Type                   object
RTO                        object
CNGkit                      int64
Paymentmode                object
Total IDV                  object
Seats                       int64
Acquisition Channel        object
dtype: object

In [72]:
df['Premium']

0        33,249
1        28,102
2        30,271
3        26,247
4        29,665
          ...
17253    33,305
17254    29,035
17255    25,230
17256    32,652
17257    28,774
Name: Premium, Length: 17258, dtype: object

In [73]:
df['Premium']=df['Premium'].str.replace(',','')

In [74]:
df['Premium']

0        33249
1        28102
2        30271
3        26247
4        29665
         ...
17253    33305
17254    29035
17255    25230
17256    32652
17257    28774
Name: Premium, Length: 17258, dtype: object

In [75]:
df['Premium']=df['Premium'].astype(int)

In [76]:
df['Premium']

0        33249
1        28102
2        30271
3        26247
4        29665
         ...
17253    33305
17254    29035
17255    25230
17256    32652
17257    28774
Name: Premium, Length: 17258, dtype: int32

In [77]:
df['Premium']=pd.to_numeric(df['Premium'],errors='coerce')

In [78]:
df['Premium']

0        33249
1        28102
2        30271
3        26247
4        29665
         ...
17253    33305
17254    29035
17255    25230
17256    32652
17257    28774
Name: Premium, Length: 17258, dtype: int32

In [79]:
df[(df['Model_Year']==lat_yr)&(df['Car Type']=='Sedan')].Premium.median()

29415.0

In [80]:
# 6. What is the change percentage of the premium from 2018 to 2019 model for Pen
# RTO where IDV is more than 8 lakh?

In [81]:
df.head()

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,33249,2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,"714,966",8,Direct
1,10001,28102,2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,"718,209",6,Direct
2,10002,30271,2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,"640,333",5,In Direct
3,10003,26247,2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,"617,561",7,In Direct
4,10004,29665,2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,"706,606",7,In Direct

In [82]:
df.dtypes

CustID                      int64
Premium                     int32
Model_Year                  int64
Owner_Type                  int64
Road side addon             int64
No Claim bonus discount    object
Electric add on rate        int64
Company                    object
Car Type                   object
RTO                        object
CNGkit                      int64
Paymentmode                object
Total IDV                  object
Seats                       int64
Acquisition Channel        object
dtype: object

In [83]:
df['Total IDV']

0        714,966
1        718,209
2        640,333
3        617,561
4        706,606
          ...
17253    650,455
17254    763,506
17255    697,297
17256    664,094
17257    792,785
Name: Total IDV, Length: 17258, dtype: object

In [84]:
df['Total IDV']=df['Total IDV'].str.replace(',','')

In [85]:
df['Total IDV']

0        714966
1        718209
2        640333
3        617561
4        706606
          ...
17253    650455
17254    763506
17255    697297
17256    664094
17257    792785
Name: Total IDV, Length: 17258, dtype: object

In [86]:
df['Total IDV']=pd.to_numeric(df['Total IDV'],errors='coerce')

In [87]:
df['Total IDV']

0        714966
1        718209
2        640333
3        617561
4        706606
          ...
17253    650455
17254    763506
17255    697297
17256    664094
17257    792785
Name: Total IDV, Length: 17258, dtype: int64

In [88]:
df.dtypes

CustID                      int64
Premium                     int32
Model_Year                  int64
Owner_Type                  int64
Road side addon             int64
No Claim bonus discount    object
Electric add on rate        int64
Company                    object
Car Type                   object
RTO                        object
CNGkit                      int64
Paymentmode                object
Total IDV                   int64
Seats                       int64
Acquisition Channel        object
dtype: object

In [89]:
df5=df[(df.RTO=='Pen')&(df['Total IDV']>800000)]

In [90]:
t18=df5[df5['Model_Year']==2018].Premium.sum()
t19=df5[df5['Model_Year']==2019].Premium.sum()

In [91]:
chng_per=round((t19-t18)/t18*100,2)
chng_per

20.12

In [92]:
# 7. Mumbai manager wants to approach their indirect customer to make them direct.
# If manager achieve 25% of the total goal, then what is the total additional premium
# they take directly?

In [93]:
df.head()

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,33249,2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,714966,8,Direct
1,10001,28102,2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,718209,6,Direct
2,10002,30271,2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,640333,5,In Direct
3,10003,26247,2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,617561,7,In Direct
4,10004,29665,2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,706606,7,In Direct

In [94]:
df6=df[(df['RTO']=='Mumbai')&(df['Acquisition Channel']=='In Direct')]
df6

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
3,10003,26247,2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,617561,7,In Direct
24,10024,25326,2008,2,0,"1,410",490,Honda,HatchBack,Mumbai,1,UPI,557742,7,In Direct
27,10027,27570,2014,1,1,"1,321",428,Honda,Sedan,Mumbai,1,Digital Wallet,711178,8,In Direct
29,10029,26778,2006,1,0,"1,456",540,Maruti,HatchBack,Mumbai,0,Digital Wallet,636231,6,In Direct
47,10047,28318,2013,1,0,"1,377",372,Maruti,HatchBack,Mumbai,0,Net Banking,792670,6,In Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17240,27240,26758,2010,2,1,"1,379",565,Honda,Sedan,Mumbai,0,Net Banking,646525,7,In Direct
17247,27247,30517,2012,1,1,"1,257",339,Hyundai,Sedan,Mumbai,1,Net Banking,598387,8,In Direct
17249,27249,32514,2015,1,0,"1,201",541,Mahindra,Sedan,Mumbai,0,Digital Wallet,742570,5,In Direct
17253,27253,33305,2005,1,0,"1,370",361,Hyundai,Sedan,Mumbai,1,Credit Card,650455,6,In Direct
17256,27256,32652,2011,2,1,"1,386",492,Maruti,Sedan,Mumbai,0,Digital Wallet,664094,6,In Direct

In [95]:
tot_goal=df6.shape[0]
tot_goal

2131

In [96]:
tot_prem=df6['Premium'].sum()

In [97]:
tot_prem*0.25

15954038.75

In [98]:
'{:,}'.format(tot_prem)

'63,816,155'

In [99]:
# 8. What is the median difference of IDV in between sedan 2019 model and
# hatchback 2018 model?

In [100]:
sed=df[(df['Car Type']=='Sedan')&(df['Model_Year']==2019)]['Total IDV'].median()
htch=df[(df['Car Type']=='HatchBack')&(df['Model_Year']==2018)]['Total IDV'].median()

In [101]:
sed

694636.0

In [102]:
htch

710339.0

In [103]:
htch-sed

15703.0

In [104]:
# 9. What is the correlation between IDV and premium for 5 seater sedan in Thane?

In [105]:
df7=df[(df['Seats']==5)&(df['Car Type']=='Sedan')&(df['RTO']=='Thane')]

In [106]:
df7['Total IDV'].corr(df7['Premium'])

0.10917836495050696

In [107]:
# 10. What is the count of 2nd hand 2005 year model cars in Navi Mumbai, who has
# taken road side assistance add-on?

In [108]:
df.head()

,CustID,Premium,Model_Year,Owner_Type,Road side addon,No Claim bonus discount,Electric add on rate,Company,Car Type,RTO,CNGkit,Paymentmode,Total IDV,Seats,Acquisition Channel
0,10000,33249,2011,1,1,"1,523",384,Hyundai,Sedan,Pen,0,Digital Wallet,714966,8,Direct
1,10001,28102,2013,2,0,"1,452",411,Hyundai,Sedan,Navi Mumbai,1,Digital Wallet,718209,6,Direct
2,10002,30271,2008,1,0,"1,367",317,Hyundai,Sedan,Thane,1,Digital Wallet,640333,5,In Direct
3,10003,26247,2014,2,0,"1,249",496,Honda,Sedan,Mumbai,1,Net Banking,617561,7,In Direct
4,10004,29665,2005,1,0,"1,310",447,Hyundai,Sedan,Thane,1,Credit Card,706606,7,In Direct

In [109]:
df.dtypes

CustID                      int64
Premium                     int32
Model_Year                  int64
Owner_Type                  int64
Road side addon             int64
No Claim bonus discount    object
Electric add on rate        int64
Company                    object
Car Type                   object
RTO                        object
CNGkit                      int64
Paymentmode                object
Total IDV                   int64
Seats                       int64
Acquisition Channel        object
dtype: object

In [110]:
df8=df[(df['Model_Year']==2005)&(df['Owner_Type']==2)&(df['RTO']=='Navi Mumbai')&(df['Road side addon']==1)]

In [111]:
df8.shape[0]

60